# Desafio 6

Neste desafio, vamos praticar _feature engineering_, um dos processos mais importantes e trabalhosos de ML. Utilizaremos o _data set_ [Countries of the world](https://www.kaggle.com/fernandol/countries-of-the-world), que contém dados sobre os 227 países do mundo com informações sobre tamanho da população, área, imigração e setores de produção.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk

In [2]:
# Algumas configurações para o matplotlib.
#%matplotlib inline

#from IPython.core.pylabtools import figsize


#figsize(12, 8)

#sns.set()

In [19]:
countries = pd.read_csv("countries.csv")

In [20]:
new_column_names = [
    "Country", "Region", "Population", "Area", "Pop_density", "Coastline_ratio",
    "Net_migration", "Infant_mortality", "GDP", "Literacy", "Phones_per_1000",
    "Arable", "Crops", "Other", "Climate", "Birthrate", "Deathrate", "Agriculture",
    "Industry", "Service"
]

countries.columns = new_column_names

countries.head(5)

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

## Observações

Esse _data set_ ainda precisa de alguns ajustes iniciais. Primeiro, note que as variáveis numéricas estão usando vírgula como separador decimal e estão codificadas como strings. Corrija isso antes de continuar: transforme essas variáveis em numéricas adequadamente.

Além disso, as variáveis `Country` e `Region` possuem espaços a mais no começo e no final da string. Você pode utilizar o método `str.strip()` para remover esses espaços.

## Inicia sua análise a partir daqui

In [30]:
# Sua análise começa aqui.
cols_numeric = ['Pop_density', 'Coastline_ratio', 'Net_migration',
                'Infant_mortality', 'Literacy', 'Phones_per_1000',
                'Arable', 'Crops', 'Other', 
                'Climate', 'Birthrate', 'Deathrate',
                'Agriculture', 'Industry', 'Service']

countries[cols_numeric] = countries[cols_numeric].apply(lambda x: x.str.replace(',','.')).astype(np.float64)
countries[['Country', 'Region']] = countries[['Country', 'Region']].apply(lambda x: x.str.strip())
countries

,Country,Region,Population,Area,Pop_density,Coastline_ratio,Net_migration,Infant_mortality,GDP,Literacy,Phones_per_1000,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [31]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           227 non-null    object
 1   Region            227 non-null    object
 2   Population        227 non-null    int64
 3   Area              227 non-null    int64
 4   Pop_density       227 non-null    float64
 5   Coastline_ratio   227 non-null    float64
 6   Net_migration     224 non-null    float64
 7   Infant_mortality  224 non-null    float64
 8   GDP               226 non-null    float64
 9   Literacy          209 non-null    float64
 10  Phones_per_1000   223 non-null    float64
 11  Arable            225 non-null    float64
 12  Crops             225 non-null    float64
 13  Other             225 non-null    float64
 14  Climate           205 non-null    float64
 15  Birthrate         224 non-null    float64
 16  Deathrate         223 non-null    float64
 17  Agriculture       212 non-null    float64
 18  Industry          211 non-null    float64
 19  Service           212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

In [50]:
#Q1
countries['Region'] = countries['Region'].str.strip()
countries['Region'].sort_values().unique()

array(['ASIA (EX. NEAR EAST)', 'BALTICS', 'C.W. OF IND. STATES',
       'EASTERN EUROPE', 'LATIN AMER. & CARIB', 'NEAR EAST',
       'NORTHERN AFRICA', 'NORTHERN AMERICA', 'OCEANIA',
       'SUB-SAHARAN AFRICA', 'WESTERN EUROPE'], dtype=object)

In [155]:
from sklearn.preprocessing import KBinsDiscretizer
#Q2

pop_density = countries['Pop_density']
disc = KBinsDiscretizer(n_bins=10, 
                        encode='ordinal',
                        strategy="quantile")
int((disc.fit_transform(pop_density.values.reshape(-1,1)) >= 9).sum())
#int((disc.fit_transform(p_density.values.reshape(-1,1)) >= 9.).sum())

23

In [86]:
from sklearn.preprocessing import OneHotEncoder
#Q3
print(len(countries.Region.unique())) #11
print(len(countries.Climate.unique()))#7
hotencoder = OneHotEncoder(sparse=False, dtype=np.int)
cols = countries[['Region', 'Climate']].fillna(value=-1)
hotencoder.fit(cols)
int(hotencoder.categories_[0].size + hotencoder.categories_[1].size)

11
7

18

In [158]:
from sklearn.preprocessing import StandardScaler
#Q4

test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

numeric_cols = countries.select_dtypes(include=['int64', 'float64'])
median_df = numeric_cols.fillna(numeric_cols.median())
    
scaler = StandardScaler()
scaler.fit(median_df)

float(scaler.transform(np.array(test_country[2:]).reshape(1,-1))[0][9].round(3))

-1.047

In [137]:
#Q5
net_migration = pd.DataFrame(countries['Net_migration'].dropna())

IQR = net_migration['Net_migration'].quantile(0.75) - net_migration['Net_migration'].quantile(0.25)
edge_under = net_migration['Net_migration'].quantile(0.25)-1.5*IQR
edge_over = net_migration['Net_migration'].quantile(0.75)+1.5*IQR

out_under = int((net_migration['Net_migration'] < edge_under).sum())
out_over = int((net_migration['Net_migration'] > edge_over).sum())

print(out_under, out_over, False)

24 26 False

In [148]:
#Q6
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.datasets import fetch_20newsgroups

categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)

count_vectorizer = CountVectorizer()
newsgroups_counts = count_vectorizer.fit_transform(newsgroup.data)
word_idx = count_vectorizer.get_feature_names().index('phone')
int((newsgroups_counts[:, word_idx].sum()))

213

In [152]:
#Q7
from sklearn.feature_extraction.text import TfidfVectorizer

categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)

count_vectorizer = TfidfVectorizer()
newsgroups_counts = count_vectorizer.fit_transform(newsgroup.data)
word_idx = count_vectorizer.get_feature_names().index('phone')
float((newsgroups_counts[:, word_idx].sum()).round(3))

8.888

## Questão 1

Quais são as regiões (variável `Region`) presentes no _data set_? Retorne uma lista com as regiões únicas do _data set_ com os espaços à frente e atrás da string removidos (mas mantenha pontuação: ponto, hífen etc) e ordenadas em ordem alfabética.

In [6]:
def q1():
    # Retorne aqui o resultado da questão 1.
    
    regions = list(countries['Region'].str.strip().unique())
    regions.sort()
    return regions

## Questão 2

Discretizando a variável `Pop_density` em 10 intervalos com `KBinsDiscretizer`, seguindo o encode `ordinal` e estratégia `quantile`, quantos países se encontram acima do 90º percentil? Responda como um único escalar inteiro.

In [154]:
from sklearn.preprocessing import KBinsDiscretizer

def q2():
    # Retorne aqui o resultado da questão 2.
    
    pop_density = countries['Pop_density']
    disc = KBinsDiscretizer(n_bins=10, 
                            encode='ordinal',
                            strategy="quantile")
    return int((disc.fit_transform(pop_density.values.reshape(-1,1)) >= 9).sum())

# Questão 3

Se codificarmos as variáveis `Region` e `Climate` usando _one-hot encoding_, quantos novos atributos seriam criados? Responda como um único escalar.

In [87]:
from sklearn.preprocessing import OneHotEncoder

def q3():
    # Retorne aqui o resultado da questão 3.
    
    hotencoder = OneHotEncoder(sparse=False, dtype=np.int)
    cols = countries[['Region', 'Climate']].fillna(value=-1)
    hotencoder.fit(cols)
    return int(hotencoder.categories_[0].size + hotencoder.categories_[1].size)

## Questão 4

Aplique o seguinte _pipeline_:

1. Preencha as variáveis do tipo `int64` e `float64` com suas respectivas medianas.
2. Padronize essas variáveis.

Após aplicado o _pipeline_ descrito acima aos dados (somente nas variáveis dos tipos especificados), aplique o mesmo _pipeline_ (ou `ColumnTransformer`) ao dado abaixo. Qual o valor da variável `Arable` após o _pipeline_? Responda como um único float arredondado para três casas decimais.

In [156]:
test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

In [157]:
from sklearn.preprocessing import StandardScaler

test_country = [
    'Test Country', 'NEAR EAST', -0.19032480757326514,
    -0.3232636124824411, -0.04421734470810142, -0.27528113360605316,
    0.13255850810281325, -0.8054845935643491, 1.0119784924248225,
    0.6189182532646624, 1.0074863283776458, 0.20239896852403538,
    -0.043678728558593366, -0.13929748680369286, 1.3163604645710438,
    -0.3699637766938669, -0.6149300604558857, -0.854369594993175,
    0.263445277972641, 0.5712416961268142
]

def q4():
    # Retorne aqui o resultado da questão 4.
    
    numeric_cols = countries.select_dtypes(include=['int64', 'float64'])
    median_df = numeric_cols.fillna(numeric_cols.median())
    
    scaler = StandardScaler()
    scaler.fit(median_df)
    return float(scaler.transform(np.array(test_country[2:]).reshape(1,-1))[0][9].round(3))

## Questão 5

Descubra o número de _outliers_ da variável `Net_migration` segundo o método do _boxplot_, ou seja, usando a lógica:

$$x \notin [Q1 - 1.5 \times \text{IQR}, Q3 + 1.5 \times \text{IQR}] \Rightarrow x \text{ é outlier}$$

que se encontram no grupo inferior e no grupo superior.

Você deveria remover da análise as observações consideradas _outliers_ segundo esse método? Responda como uma tupla de três elementos `(outliers_abaixo, outliers_acima, removeria?)` ((int, int, bool)).

In [138]:
def q5():
    # Retorne aqui o resultado da questão 5.
    
    net_migration = pd.DataFrame(countries['Net_migration'].dropna())
    
    IQR = net_migration['Net_migration'].quantile(0.75) - net_migration['Net_migration'].quantile(0.25)
    edge_under = net_migration['Net_migration'].quantile(0.25)-1.5*IQR
    edge_over = net_migration['Net_migration'].quantile(0.75)+1.5*IQR
    
    out_under = int((net_migration['Net_migration'] < edge_under).sum())
    out_over = int((net_migration['Net_migration'] > edge_over).sum())
    
    return (out_under, out_over, False)

## Questão 6
Para as questões 6 e 7 utilize a biblioteca `fetch_20newsgroups` de datasets de test do `sklearn`

Considere carregar as seguintes categorias e o dataset `newsgroups`:

```
categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
```


Aplique `CountVectorizer` ao _data set_ `newsgroups` e descubra o número de vezes que a palavra _phone_ aparece no corpus. Responda como um único escalar.

In [150]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.datasets import fetch_20newsgroups

def q6():
    # Retorne aqui o resultado da questão 6.
    
    categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
    newsgroup = fetch_20newsgroups(subset="train", categories=categories, shuffle=True, random_state=42)
    
    count_vectorizer = CountVectorizer()
    newsgroups_counts = count_vectorizer.fit_transform(newsgroup.data)
    word_idx = count_vectorizer.get_feature_names().index('phone')
    
    return int((newsgroups_counts[:, word_idx].sum()))

## Questão 7

Aplique `TfidfVectorizer` ao _data set_ `newsgroups` e descubra o TF-IDF da palavra _phone_. Responda como um único escalar arredondado para três casas decimais.

In [153]:
from sklearn.feature_extraction.text import TfidfVectorizer

def q7():
    # Retorne aqui o resultado da questão 7.
    categories = ['sci.electronics', 'comp.graphics', 'rec.motorcycles']
    newsgroup = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
    
    count_vectorizer = TfidfVectorizer()
    newsgroups_counts = count_vectorizer.fit_transform(newsgroup.data)
    word_idx = count_vectorizer.get_feature_names().index('phone')
    return float((newsgroups_counts[:, word_idx].sum()).round(3))